n8n-workflow-ingest.json
{
  "name": "REMOVEDAI — Ultimate Knowledge Ingester",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "driplare-ingest",
        "options": {}
      },
      "id": "webhook",
      "name": "Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "driplare-ingest"
    },
    {
      "parameters": {
        "jsCode": "// Generate IDs and prepare basic metadata\nconst id = 'src_' + Math.random().toString(36).substr(2, 9) + Date.now().toString(36);\nreturn [{\n  json: {\n    sourceId: id,\n    chatbotId: $input.first().json.body.chatbotId,\n    userId: $input.first().json.body.userId,\n    type: $input.first().json.body.type,\n    name: $input.first().json.body.name || 'Untitled Source'\n  }\n}];"
      },
      "id": "gen-id",
      "name": "Generate IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Generate IDs').item.json.type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $('Generate IDs').item.json.type }}",
              "rightValue": "website",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "switch",
      "name": "Switch by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "mode": "binary",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "data-loader-file",
      "name": "Data Loader (Binary)",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Ingest Webhook').item.json.body.url }}",
        "options": {}
      },
      "id": "http-web",
      "name": "HTTP Request (Web)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "html-extract",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalizes output from all branches into a single string\nlet text = '';\n\nif ($node['Data Loader (Binary)']) {\n  // Data loader outputs an array of docs, join them\n  const docs = $node.all('Data Loader (Binary)');\n  text = docs.map(d => d.json.pageContent).join('\\n\\n');\n} else if ($node['HTML Extract']) {\n  text = $node['HTML Extract'].json.text;\n} else {\n  text = $('Ingest Webhook').item.json.body.content || '';\n}\n\nreturn [{\n  json: {\n    fullText: text,\n    charCount: text.length,\n    sourceId: $('Generate IDs').item.json.sourceId,\n    chatbotId: $('Generate IDs').item.json.chatbotId,\n    type: $('Generate IDs').item.json.type,\n    name: $('Generate IDs').item.json.name\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"Source\" (\"id\", \"sourceId\", \"chatbotId\", \"type\", \"name\", \"content\", \"charCount\", \"createdAt\")\nVALUES (\n  '{{ $json.sourceId }}', \n  '{{ $json.sourceId }}', \n  '{{ $json.chatbotId }}', \n  '{{ $json.type }}', \n  '{{ $json.name }}', \n  '{{ $json.fullText.replace(/'/g, \"''\") }}', \n  {{ $json.charCount }}, \n  NOW()\n);",
        "options": {}
      },
      "id": "insert-source",
      "name": "Insert into Source",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "Chunk",
        "options": {
          "additionalColumns": [
            {
              "columnName": "sourceId",
              "value": "={{ $json.metadata.sourceId }}"
            },
            {
              "columnName": "chatbotId",
              "value": "={{ $json.metadata.chatbotId }}"
            },
            {
              "columnName": "chunkIndex",
              "value": "={{ $json.metadata.index }}"
            }
          ]
        }
      },
      "id": "pgvector-store",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1600,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToDocument",
        "documentProperty": "text",
        "options": {
          "metadata": "={\n  \"sourceId\": \"{{ $('Normalize Text').item.json.sourceId }}\",\n  \"chatbotId\": \"{{ $('Normalize Text').item.json.chatbotId }}\"\n}"
        }
      },
      "id": "data-loader-json",
      "name": "Convert to Documents",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1600,
        600
      ]
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "gemini-embeddings",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        800
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GSuBFeT3qsXKR0hv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "splitter",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1850,
        750
      ]
    },
    {
      "parameters": {
        "jsCode": "// Takes the full text and prepares it for the Langchain JSON loader\n// Also adds an index to metadata manually for better tracking\nconst text = $input.first().json.fullText;\n// Note: The splitter in n8n will process this. \n// To get a chunk index, we'll let n8n handle it or add it if possible.\nreturn [{\n  json: {\n    text: text\n  }\n}];"
      },
      "id": "prep-for-vector",
      "name": "Prep for Vector Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ]
    }
  ],
  "connections": {
    "Ingest Webhook": {
      "main": [
        [
          {
            "node": "Generate IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate IDs": {
      "main": [
        [
          {
            "node": "Switch by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Type": {
      "main": [
        [
          {
            "node": "Data Loader (Binary)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Web)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader (Binary)": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Web)": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Insert into Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Source": {
      "main": [
        [
          {
            "node": "Prep for Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for Vector Store": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Documents": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Convert to Documents",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  }
}