n8n JSON/n8n-workflow-facebook-agent.json
{
  "name": "DriplareAI — Facebook Agent Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "driplare-facebook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Meta Challenge (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ 0, 0 ],
      "webhookId": "driplare-facebook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-challenge",
      "name": "Return hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 240, 0 ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "driplare-facebook",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook-post",
      "name": "Receive Message (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ 0, 240 ],
      "webhookId": "driplare-facebook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-200",
      "name": "Respond 200 to Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 240, 240 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.\"chatbotId\", \n  c.\"userId\", \n  c.\"provider\", \n  c.\"model\", \n  c.\"systemPrompt\", \n  c.\"temperature\", \n  c.\"maxTokens\", \n  u.\"points\", \n  u.\"pointsUsed\", \n  i.config->>'pageToken' as \"pageToken\",\n  i.config->>'pageId' as \"pageId\"\nFROM \"Integration\" i\nJOIN \"Chatbot\" c ON i.\"chatbotId\" = c.\"chatbotId\"\nJOIN \"User\" u ON c.\"userId\" = u.\"userId\"\nWHERE i.platform = 'n8n_facebook' \n  AND i.config->>'pageId' = '{{ $json.body.entry[0].id }}';",
        "options": {}
      },
      "id": "db-lookup",
      "name": "Fetch Bot Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [ 480, 240 ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CRED_ID",
          "name": "DriplareAI DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Fetch Bot Config').item.json;\nconst meta = $('Receive Message (POST)').item.json.body;\n\n// Basic validation\nif (!meta.entry || !meta.entry[0].messaging || meta.entry[0].messaging.length === 0) {\n  return [];\n}\n\nconst messaging = meta.entry[0].messaging[0];\nconst senderId = messaging.sender.id;\nconst text = messaging.message?.text;\n\nif (!text || messaging.message?.is_echo) {\n  return [];\n}\n\nreturn [{\n  json: {\n    ...config,\n    senderId,\n    sessionId: `fb_${senderId}`,\n    messageText: text,\n    hasQuota: config.points > config.pointsUsed\n  }\n}];"
      },
      "id": "extract-fields",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 720, 240 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-has-quota",
              "leftValue": "={{ $json.hasQuota }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-quota",
      "name": "Check Quota",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 960, 240 ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [ 1200, 240 ]
    },
    {
      "parameters": {
        "model": "={{ $json.model }}",
        "options": {
          "temperature": "={{ $json.temperature }}",
          "maxTokens": "={{ $json.maxTokens }}"
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [ 1200, 480 ],
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.sessionId }}"
      },
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [ 1360, 480 ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CRED_ID",
          "name": "DriplareAI DB"
        }
      }
    },
    {
      "parameters": {
        "tableName": "Chunk",
        "operation": "search",
        "description": "Used to retrieve context or knowledge related to the user's query",
        "options": {
          "where": "chatbotId = '{{ $('Fetch Bot Config').item.json.chatbotId }}'"
        }
      },
      "id": "postgres-vector",
      "name": "Postgres Vector Store (RAG)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [ 1520, 480 ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CRED_ID",
          "name": "DriplareAI DB"
        }
      }
    },
    {
      "parameters": {
        "model": "models/text-embedding-004"
      },
      "id": "openrouter-embeddings",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [ 1520, 680 ],
      "credentials": {
        "googleApi": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.pageId }}/messages?access_token={{ $json.pageToken }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.senderId }}\" },\n  \"message\": { \"text\": \"{{ $json.output }}\" }\n}",
        "options": {}
      },
      "id": "send-fb-reply",
      "name": "Send Reply to Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1520, 240 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"ChatMessage\" (\"id\", \"chatbotId\", \"userId\", \"sessionId\", \"role\", \"content\", \"timestamp\")\nVALUES \n  (gen_random_uuid()::text, '{{ $json.chatbotId }}', '{{ $json.userId }}', '{{ $json.sessionId }}', 'user', '{{ $('Extract Fields').item.json.messageText }}', NOW()),\n  (gen_random_uuid()::text, '{{ $json.chatbotId }}', '{{ $json.userId }}', '{{ $json.sessionId }}', 'assistant', '{{ $json.output }}', NOW());\n\nUPDATE \"User\" SET \"pointsUsed\" = \"pointsUsed\" + 1 WHERE \"userId\" = '{{ $json.userId }}';",
        "options": {}
      },
      "id": "sync-db",
      "name": "Sync Next.js Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [ 1760, 240 ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CRED_ID",
          "name": "DriplareAI DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.pageId }}/messages?access_token={{ $json.pageToken }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.senderId }}\" },\n  \"message\": { \"text\": \"Sorry, you have exhausted your message quota.\" }\n}",
        "options": {}
      },
      "id": "quota-exceeded",
      "name": "Send Quota Exceeded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1200, 40 ]
    }
  ],
  "connections": {
    "Meta Challenge (GET)": {
      "main": [
        [
          {
            "node": "Return hub.challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Message (POST)": {
      "main": [
        [
          {
            "node": "Respond 200 to Meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Bot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bot Config": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Check Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quota": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply to Messenger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply to Messenger": {
      "main": [
        [
          {
            "node": "Sync Next.js Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store (RAG)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store (RAG)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
