docs/n8n JSON/Facebook Integration (DriplareAI).json
{
  "name": "Facebook Integration (DriplareAI)",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a3e2d957-5f12-48ee-aed0-00b00c5edc50",
      "name": "Return hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -5632,
        -768
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.\"chatbotId\",\n  c.\"chatbotMode\",\n  c.\"userId\",\n  c.\"provider\",\n  c.\"model\",\n  c.\"systemPrompt\",\n  c.\"temperature\",\n  c.\"maxTokens\",\n  u.\"includedMessages\" AS \"totalMessagesLimit\",\n  u.\"messagesUsedThisCycle\" AS \"messagesUsed\",\n  GREATEST(0, u.\"includedMessages\" - u.\"messagesUsedThisCycle\") AS \"messagesRemaining\",\n  i.\"connected\",\n  i.config->>'pageToken' AS \"pageToken\",\n  i.config->>'pageId' AS \"pageId\",\n  i.config->>'pageName' AS \"pageName\",\n  ec.\"productSheetId\",\n  ec.\"productSheetName\",\n  ec.\"orderSheetId\",\n  ec.\"orderSheetName\",\n  ec.\"steadfastEnabled\",\n  ec.\"steadfastApiKey\",\n  ec.\"steadfastSecretKey\",\n  ec.\"pathaoEnabled\",\n  ec.\"pathaoClientId\",\n  ec.\"pathaoClientSecret\",\n  ec.\"pathaoMerchantId\"\nFROM \"Integration\" i\nJOIN \"Chatbot\" c ON i.\"chatbotId\" = c.\"chatbotId\"\nJOIN \"User\" u ON c.\"userId\" = u.\"userId\"\nLEFT JOIN \"EcommerceConfig\" ec ON ec.\"chatbotId\" = c.\"chatbotId\"\nWHERE i.platform = 'facebook'\n  AND i.\"connected\" = true\n  AND (u.\"includedMessages\" - u.\"messagesUsedThisCycle\") > 0\n  AND i.config->>'pageId' = '{{ $json.body.entry[0].messaging[0].recipient.id || $json.body.entry[0].id }}';\n",
        "options": {}
      },
      "id": "6c913c98-59fa-4e97-af2e-017d5578b609",
      "name": "Fetch Bot Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -5568,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Fetch Bot Config').item.json;\nconst meta = $('Get Facebook Message').item.json.body;\n\nif (!meta?.entry?.[0]?.messaging?.[0]) return [];\n\nconst messaging = meta.entry[0].messaging[0];\nconst senderId = messaging.sender.id;\n\n// Ignore echo messages\nif (messaging.message?.is_echo) return [];\n\n// Fetch User Profile from Meta Graph API using fetch\nlet userName = 'Customer';\nlet profilePhoto = null;\ntry {\n  const pageToken = config.pageToken;\n  const profileRes = await fetch(`https://graph.facebook.com/v20.0/${senderId}?fields=first_name,last_name,profile_pic&access_token=${pageToken}`);\n  const profileData = await profileRes.json();\n  if (profileData) {\n    if (profileData.first_name) {\n      userName = `${profileData.first_name} ${profileData.last_name || ''}`.trim();\n    }\n    if (profileData.profile_pic) {\n      profilePhoto = profileData.profile_pic;\n    }\n  }\n} catch (e) {\n  // Safe fallback\n}\n\n// Detect input type\nconst attachmentType = messaging.message?.attachments?.[0]?.type;\nlet messageText = '';\nlet messageType = 'text';\n\nif (!attachmentType && messaging.message?.text) {\n  messageText = messaging.message.text;\n  messageType = 'text';\n} else if (attachmentType === 'image') {\n  messageText = $json.imageDescription || 'User sent an image.';\n  messageType = 'image';\n} else if (attachmentType === 'audio') {\n  messageText = $json.text || $json.transcription || 'User sent a voice message.';\n  messageType = 'audio';\n} else {\n  return [];\n}\n\n// Append order handling instruction to system prompt\nconst orderInstruction = `\\n\\n---\\nWhen a customer confirms their order by providing name, phone, and address, respond ONLY with this JSON (no other text):\\n{\"action\":\"create_order\",\"recipient_name\":\"<name>\",\"recipient_phone\":\"<phone>\",\"recipient_address\":\"<address>\",\"cod_amount\":\"<total BDT>\",\"product_name\":\"<product name>\"}\\nFor all other conversations, respond normally.`;\n\n// Language Rules\nconst languageRules = `\\n\\n---\\nLANGUAGE RULES:\\n1. Detect the user's language (English, Bengali, or Banglish/Romanized Bengali).\\n2. ALWAYS reply in the exact same language and script that the user used. If they ask in Bangla, reply in Bangla. If they ask in Banglish, reply in Bangla or natural Banglish.\\n3. You are fully multilingual. NEVER say \"I can only speak English\" or refuse to assist in Bengali.\\n4. Keep product names (e.g., \"Olive Green Casual\"), sizes, and Product IDs in their original English/Roman script as written in the sheet, even when replying in Bengali.\\n\\nTONE & FORMATTING RULES:\\n1. Speak in a friendly, natural, helpful, and human-like tone. Avoid sounding rigid or robotic.\\n2. DO NOT greet the customer as \"Sir/Madam\" or \"Dear Customer\" in every message. Only greet them in the very first message of the conversation. In subsequent messages, get straight to the point politely.\\n3. Organize information beautifully. Use paragraph spacing, line breaks, bullet points, and appropriate emojis (e.g., 🏷️ for price, 📦 for stock, 🚚 for shipping) to make the text clean, readable, and engaging.`;\n\n// Dynamic tool selection rules\nconst hasSheet = !!config.productSheetId;\nconst isEcommerce = config.chatbotMode === 'ecommerce';\nconst toolRules = isEcommerce && hasSheet\n  ? `\\n\\n---\\nTOOL RULES:\\n1. Product-specific queries (including name, price, stock, size, color, quality, fabric, material, purity, ingredients, authenticity, benefits, description, etc.) - ALWAYS call the 'Get Product form Sheet' tool FIRST. Do not try to guess or answer from your own knowledge.\\n2. General questions (FAQ, company info, delivery policies) - use 'knowledge_base' tool.\\n3. If the user asks about any product attributes, characteristics, or specific details in English, Bangla, or Banglish (e.g. 'quality kemon', 'original naki', 'dam koto', 'size ache?'), translate the context and look up the sheet.`\n  : (hasSheet\n      ? `\\n\\n---\\nTOOL RULES:\\n1. Product-specific queries (name, price, stock) - use 'Get Product form Sheet' tool.\\n2. General questions - use 'knowledge_base' tool.`\n      : `\\n\\n---\\nTOOL RULES:\\n- Use 'knowledge_base' tool to find relevant info before answering.`);\n\nreturn [{\n  json: {\n    ...config,\n    senderId,\n    sessionId: `fb_${senderId}`,\n    messageText,\n    messageType,\n    userName,\n    profilePhoto,\n    systemPrompt: config.systemPrompt + orderInstruction + languageRules + toolRules\n  }\n}];\n"
      },
      "id": "1c62b634-430e-4408-a0ee-3c3009a42360",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        -352
      ]
    },
    {
      "parameters": {
        "model": "={{ $json.model }}",
        "options": {
          "maxTokens": "={{ $json.maxTokens }}",
          "temperature": "={{ $json.temperature }}"
        }
      },
      "id": "cb46762b-d451-4f6b-be04-387e69dafe91",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4016,
        -96
      ],
      "credentials": {
        "openRouterApi": {
          "id": "jhNy5RPc2l0zAQry",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Fields').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "id": "48c66db1-31b4-4e3a-a42f-a9fae3d8e0a6",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -3920,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Fetch Bot Config').item.json.pageId }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Fetch Bot Config').item.json.pageToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Get Facebook Message').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($('Brain').item.json.output) }}\n  }\n}",
        "options": {}
      },
      "id": "f19da467-6f40-4368-b375-83be129bbad8",
      "name": "Send Reply to Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"ChatSession\" (\"id\", \"chatbotId\", \"sessionId\", \"platform\", \"guestName\", \"profilePhoto\", \"isActive\", \"createdAt\", \"updatedAt\")\nVALUES (\n  gen_random_uuid()::text, \n  '{{ $('Extract Fields').item.json.chatbotId }}', \n  '{{ $('Extract Fields').item.json.sessionId }}', \n  'facebook', \n  '{{ $('Extract Fields').item.json.userName }}', \n  NULLIF('{{ $('Extract Fields').item.json.profilePhoto }}', ''), \n  true, \n  NOW(), \n  NOW()\n)\nON CONFLICT (\"chatbotId\", \"sessionId\") \nDO UPDATE SET \n  \"updatedAt\" = NOW(), \n  \"guestName\" = '{{ $('Extract Fields').item.json.userName }}',\n  \"profilePhoto\" = NULLIF('{{ $('Extract Fields').item.json.profilePhoto }}', '');\n\nINSERT INTO \"ChatMessage\" (\"id\", \"chatbotId\", \"userId\", \"sessionId\", \"role\", \"content\", \"timestamp\")\nVALUES \n  (gen_random_uuid()::text, '{{ $('Extract Fields').item.json.chatbotId }}', '{{ $('Extract Fields').item.json.userId }}', '{{ $('Extract Fields').item.json.sessionId }}', 'user', '{{ $('Extract Fields').item.json.messageText }}', NOW() - INTERVAL '1 second'),\n  (gen_random_uuid()::text, '{{ $('Extract Fields').item.json.chatbotId }}', '{{ $('Extract Fields').item.json.userId }}', '{{ $('Extract Fields').item.json.sessionId }}', 'assistant', '{{ $('Brain').item.json.output }}', NOW());\n\nUPDATE \"User\"\nSET \"messagesUsedThisCycle\" = \"messagesUsedThisCycle\" + 1\nWHERE \"userId\" = '{{ $('Extract Fields').item.json.userId }}';\n",
        "options": {}
      },
      "id": "5a93c1f1-6ae1-4218-bbd8-34cdab1230ab",
      "name": "Sync Next.js Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2000,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "880875d7-b337-4824-af35-0480165b1647",
              "leftValue": "={{ $json.query.hub_mode }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b1cfa470-75a9-4c1a-8ee3-241f7ba1a13a",
              "leftValue": "={{ $json.query.hub_verify_token }}",
              "rightValue": "driplare_meta_webhook_secret_2026",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5872,
        -752
      ],
      "id": "d81d3fe7-7990-492e-af88-52ab10fab96b",
      "name": "If"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3600,
        -80
      ],
      "id": "b1cd0036-b276-47b3-a5bd-ed9ad64918bf",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GSuBFeT3qsXKR0hv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"ChatSession\" \nSET \n  \"sentiment\" = '{{ $json.sentiment }}', \n  \"topic\" = '{{ $json.topic }}',\n  \"analysisAt\" = NOW()\nWHERE \"chatbotId\" = '{{ $node[\"Fetch Bot Config\"].json.chatbotId }}' \n  AND \"sessionId\" = '{{ $node[\"Extract Fields\"].json.sessionId }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2448,
        160
      ],
      "id": "02d548c2-bf26-4e05-989a-cd5ec241b90b",
      "name": "Add sentiment and topic in database",
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Fields').item.json.messageText }}",
        "options": {
          "systemMessage": "={{ $('Extract Fields').item.json.systemPrompt }}"
        }
      },
      "id": "4899baa6-3986-44e2-a2b9-e54280311f7e",
      "name": "Brain",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -4016,
        -352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "মেমোরিতে থাকা কনভারসেশনটি এনালাইজ করে আমাকে এর sentiment (positive/neutral/negative) এবং একটি ২ শব্দের topic দাও। শুধু JSON ফরম্যাটে উত্তর দাও।"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2944,
        160
      ],
      "id": "14ea541c-6060-4cb9-92ed-dab346901c3a",
      "name": "Anylize"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Anylize').item.json.output ?? '{}';\n\nlet parsed;\n\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (error) {\n  parsed = {\n    sentiment: null,\n    topic: null,\n    rawOutput: raw,\n  };\n}\n\nreturn [\n  {\n    json: {\n      sentiment: parsed.sentiment ?? null,\n      topic: parsed.topic ?? null,\n      rawAnalysis: parsed,\n    },\n  },\n];\n"
      },
      "id": "13dec79f-1712-416d-aa01-7cc068709d3a",
      "name": "Extract Sentiment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Facebook Message').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5136,
        -176
      ],
      "id": "1925a99c-df73-44a5-94db-ca07d5d1ebb6",
      "name": "Download Voicemail"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -4576,
        -176
      ],
      "id": "609657ee-b4e3-4fd2-b873-945574619e75",
      "name": "Text from audio",
      "credentials": {
        "elevenLabsApi": {
          "id": "dpleFlMi08nPeVOv",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5024,
        -544
      ],
      "id": "eb453bc4-075d-47c2-b030-83e289b692ff",
      "name": "Download Image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -4816,
        -544
      ],
      "id": "b74c8623-78fc-4a6d-8445-c518cbed9ae9",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "GSuBFeT3qsXKR0hv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Facebook Message').item.json.body.entry[0].messaging[0].message.attachments?.[0]?.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a108fe68-a375-4c09-b2de-a1227681b8d3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b955066-3abb-4acb-9b74-c26c4f66d329",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b0c979e-4447-43bc-b001-251c7febf681",
                    "leftValue": "={{ $('Get Facebook Message').item.json.body.entry[0].messaging[0].message.attachments?.[0]?.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "883eeb77-88d3-483f-b9f1-e17f6033e5a8",
                    "leftValue": "={{ $('Get Facebook Message').item.json.body.entry[0].messaging[0].message.attachments?.[0]?.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5248,
        -528
      ],
      "id": "d9d82c6b-69cb-43a4-afb0-4cf84f88e769",
      "name": "Customer Input Types"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d981d00f-984e-4bbd-83e3-30eabd68267f",
              "name": "imageDescription",
              "value": "=User sent an image. Here is what the image contains: {{ $json.content.parts[0].text }}. Please answer based on this image description.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4576,
        -544
      ],
      "id": "495bc3fb-0e6c-4f09-bf17-4d9119c3fb62",
      "name": "Map image prompt"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "driplare-facebook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "99ded3e0-05a3-41a4-aeab-59b82fd0d05f",
      "name": "Get Facebook Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5984,
        -240
      ],
      "webhookId": "driplare-facebook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search uploaded source documents for general info, FAQs, and company policies. Do NOT use this for product catalog queries (price, stock, color, size, material) — use 'Get Product form Sheet' tool for those.",
        "tableName": "Chunk",
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -3600,
        -240
      ],
      "id": "d67098ac-27c4-4e58-88ab-7f9bad07cab7",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $('Brain').item.json.output ?? '';\nlet isOrder = false;\nlet orderData = null;\ntry {\n  const parsed = JSON.parse(output.trim());\n  if (parsed.action === 'create_order') {\n    isOrder = true;\n    orderData = parsed;\n  }\n} catch {}\nreturn [{ json: { isOrder, orderData, normalResponse: output } }];\n"
      },
      "id": "3fe809f4-2fb0-4418-b813-e471fa5a008f",
      "name": "Detect Order Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        -352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "order-check-01",
              "leftValue": "={{ $json.isOrder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7845c4d6-4979-432b-8f79-f2d416a22e53",
      "name": "Is Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3056,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "const od = $('Detect Order Action').item.json.orderData;\nconst cfg = $('Fetch Bot Config').item.json;\nreturn [{ json: {\n  recipient_name: od.recipient_name,\n  recipient_phone: od.recipient_phone,\n  recipient_address: od.recipient_address,\n  cod_amount: od.cod_amount,\n  product_name: od.product_name || 'Product',\n  invoice: `ORD-${Date.now()}`,\n  orderSheetId: cfg.orderSheetId,\n  orderSheetName: cfg.orderSheetName || 'Orders',\n  steadfastEnabled: cfg.steadfastEnabled,\n  steadfastApiKey: cfg.steadfastApiKey,\n  steadfastSecretKey: cfg.steadfastSecretKey,\n  pathaoEnabled: cfg.pathaoEnabled,\n  pathaoClientId: cfg.pathaoClientId,\n  pathaoClientSecret: cfg.pathaoClientSecret,\n  pageToken: cfg.pageToken,\n  pageId: cfg.pageId,\n  senderId: $('Extract Fields').item.json.senderId\n} }];\n"
      },
      "id": "10440631-6e04-44c7-9179-b44307e13ba4",
      "name": "Extract Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -368
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.orderSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.orderSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2d16586e-b842-4939-a114-97d61ae202ab",
      "name": "Write Order to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2560,
        -368
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rD3Ibc32MwD8IUQE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "sf-check-01",
              "leftValue": "={{ $json.steadfastEnabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50058adf-2915-4e88-879c-32184a4c6072",
      "name": "Is SteadFast Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2320,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.packzy.com/api/v1/create_order",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $('Extract Order Data').item.json.steadfastApiKey }}"
            },
            {
              "name": "Secret-Key",
              "value": "={{ $('Extract Order Data').item.json.steadfastSecretKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "invoice",
              "value": "={{ $('Extract Order Data').item.json.invoice }}"
            },
            {
              "name": "recipient_name",
              "value": "={{ $('Extract Order Data').item.json.recipient_name }}"
            },
            {
              "name": "recipient_phone",
              "value": "={{ $('Extract Order Data').item.json.recipient_phone }}"
            },
            {
              "name": "recipient_address",
              "value": "={{ $('Extract Order Data').item.json.recipient_address }}"
            },
            {
              "name": "cod_amount",
              "value": "={{ $('Extract Order Data').item.json.cod_amount }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dca2076f-0a74-45b7-8099-271a24111d05",
      "name": "Create SteadFast Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2048,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Extract Order Data').item.json.pageId }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Extract Order Data').item.json.pageToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $('Extract Order Data').item.json.senderId }}\" },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": { \"text\": \"✅ আপনার অর্ডার কনফার্ম হয়েছে! Order ID: {{ $('Extract Order Data').item.json.invoice }}. আমরা শীঘ্রই ডেলিভারির ব্যবস্থা করব। ধন্যবাদ! 🎉\" }\n}",
        "options": {}
      },
      "id": "f8879868-7c9f-409a-b5cf-c64a98f27789",
      "name": "Send Order Confirmation Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        -464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "pathao-check-01",
              "leftValue": "={{ $json.pathaoEnabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd1eca1e-0bb4-4d0d-9cab-849892ff332b",
      "name": "Is Pathao Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2048,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-hermes.pathaods.com/aladdin/api/v1/issue-token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Extract Order Data').item.json.pathaoClientId }}\",\n  \"client_secret\": \"{{ $('Extract Order Data').item.json.pathaoClientSecret }}\",\n  \"grant_type\": \"client_credentials\"\n}",
        "options": {}
      },
      "id": "0e753083-58b6-46b7-a5b2-b240f2749140",
      "name": "Get Pathao Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-hermes.pathaods.com/aladdin/api/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Pathao Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "store_id",
              "value": "={{ $('Extract Order Data').item.json.pathaoMerchantId }}"
            },
            {
              "name": "merchant_order_id",
              "value": "={{ $('Extract Order Data').item.json.invoice }}"
            },
            {
              "name": "recipient_name",
              "value": "={{ $('Extract Order Data').item.json.recipient_name }}"
            },
            {
              "name": "recipient_phone",
              "value": "={{ $('Extract Order Data').item.json.recipient_phone }}"
            },
            {
              "name": "recipient_address",
              "value": "={{ $('Extract Order Data').item.json.recipient_address }}"
            },
            {
              "name": "cod_amount",
              "value": "={{ $('Extract Order Data').item.json.cod_amount }}"
            },
            {
              "name": "recipient_city",
              "value": "1"
            },
            {
              "name": "recipient_zone",
              "value": "1"
            },
            {
              "name": "recipient_area",
              "value": "1"
            },
            {
              "name": "delivery_type",
              "value": "48"
            },
            {
              "name": "item_type",
              "value": "2"
            },
            {
              "name": "item_quantity",
              "value": "1"
            },
            {
              "name": "item_weight",
              "value": "0.5"
            },
            {
              "name": "item_description",
              "value": "Product Delivery"
            }
          ]
        },
        "options": {}
      },
      "id": "fdc8d548-2cc4-4a95-b619-3c51a6a2a3f2",
      "name": "Create Pathao Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        -144
      ]
    },
    {
      "parameters": {},
      "id": "fd0c54aa-ed55-48e5-b16a-969a10079274",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4464,
        -352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ev-check-01",
              "leftValue": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.item }}",
              "rightValue": "comment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ev-check-02",
              "leftValue": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.verb }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23574340-c5de-45f7-81bc-5dea5615ea53",
      "name": "Detect Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5696,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.\"chatbotId\",\n  c.\"userId\",\n  c.\"model\",\n  c.\"systemPrompt\",\n  c.\"temperature\",\n  c.\"maxTokens\",\n  GREATEST(0, u.\"includedMessages\" - u.\"messagesUsedThisCycle\") AS \"messagesRemaining\",\n  i.\"integrationId\",\n  i.config->>'pageToken' AS \"pageToken\",\n  i.config->>'pageId' AS \"pageId\",\n  i.config->>'pageName' AS \"pageName\",\n  i.config->'commentReply' AS \"commentReplyConfig\"\nFROM \"Integration\" i\nJOIN \"Chatbot\" c ON i.\"chatbotId\" = c.\"chatbotId\"\nJOIN \"User\" u ON c.\"userId\" = u.\"userId\"\nWHERE i.platform = 'facebook'\n  AND i.\"connected\" = true\n  AND i.config->>'pageId' = '{{ $('Get Facebook Message').item.json.body.entry[0].id }}';",
        "options": {}
      },
      "id": "f0ef51b0-8bdb-474c-a913-97b1882a335d",
      "name": "Fetch Comment Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -5584,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Fetch Comment Config').item.json;\nconst body = $('Get Facebook Message').item.json.body;\n\n// Parse commentReply config from DB\nlet crCfg = {};\ntry {\n  crCfg = typeof cfg.commentReplyConfig === 'string'\n    ? JSON.parse(cfg.commentReplyConfig)\n    : (cfg.commentReplyConfig || {});\n} catch(e) {}\n\n// Exit if disabled or no quota\nif (!crCfg.enabled) return [];\nif ((cfg.messagesRemaining || 0) <= 0) return [];\n\nconst change = body.entry?.[0]?.changes?.[0]?.value;\nif (!change || change.item !== 'comment' || change.verb !== 'add') return [];\n\nconst commentId = change.comment_id;\nconst fromId = change.from?.id;\nconst fromName = change.from?.name || 'Customer';\nconst commentText = (change.message || '').trim();\nconst pageId = cfg.pageId;\n\n// Skip bot's own comments (prevent infinite loop)\nif (fromId === pageId) return [];\nif (!commentText) return [];\n\nreturn [{\n  json: {\n    ...cfg,\n    commentId,\n    fromId,\n    fromName,\n    commentText,\n    sessionId: `fb_comment_${fromId}`,\n    mode: crCfg.mode || 'ai',\n    fixedMessage: crCfg.fixedMessage || '',\n    sendPrivateDM: crCfg.sendPrivateDM || false\n  }\n}];"
      },
      "id": "6f90d4b8-cbef-4ea3-8ecc-5c31531b16da",
      "name": "Extract Comment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5360,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fixed-check-01",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "fixed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "673f6383-0a56-47ad-9df7-55662679a409",
      "name": "Is Fixed Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5136,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fixed-reply-assign",
              "name": "finalReply",
              "value": "={{ $json.fixedMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bd652037-72b5-4369-8a11-b5e09219bf5c",
      "name": "Set Fixed Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4864,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.commentText }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}\n\n---\nYou are replying to a Facebook post comment. Keep the reply short (1-2 sentences), friendly, and professional. Do NOT use markdown formatting. Do NOT include emojis unless appropriate for the brand tone."
        }
      },
      "id": "a699d71b-29c8-4386-b4fa-c243baf1a62c",
      "name": "AI Comment Brain",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5024,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai-reply-assign",
              "name": "finalReply",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "76eea902-c608-4c3f-9135-5973bed14b81",
      "name": "Set AI Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4656,
        416
      ]
    },
    {
      "parameters": {},
      "id": "fc54b036-7451-4f59-9be4-9979e5b2e825",
      "name": "Merge Comment Replies",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4544,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('Extract Comment Data').item.json.commentId }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Extract Comment Data').item.json.pageToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": {{ JSON.stringify($json.finalReply) }} }",
        "options": {}
      },
      "id": "3d008db1-e890-4570-8ef5-a8b9b8f9029d",
      "name": "Post Comment Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4272,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"ChatSession\" (\"id\", \"chatbotId\", \"sessionId\", \"platform\", \"guestName\", \"isActive\", \"createdAt\", \"updatedAt\")\nVALUES (gen_random_uuid()::text, '{{ $('Extract Comment Data').item.json.chatbotId }}', '{{ $('Extract Comment Data').item.json.sessionId }}', 'facebook_comment', '{{ $('Extract Comment Data').item.json.fromName }}', true, NOW(), NOW())\nON CONFLICT (\"chatbotId\", \"sessionId\") DO UPDATE SET \"updatedAt\" = NOW();\n\nINSERT INTO \"ChatMessage\" (\"id\", \"chatbotId\", \"userId\", \"sessionId\", \"role\", \"content\", \"timestamp\")\nVALUES\n  (gen_random_uuid()::text, '{{ $('Extract Comment Data').item.json.chatbotId }}', '{{ $('Extract Comment Data').item.json.userId }}', '{{ $('Extract Comment Data').item.json.sessionId }}', 'user', '{{ $('Extract Comment Data').item.json.commentText }}', NOW() - INTERVAL '1 second'),\n  (gen_random_uuid()::text, '{{ $('Extract Comment Data').item.json.chatbotId }}', '{{ $('Extract Comment Data').item.json.userId }}', '{{ $('Extract Comment Data').item.json.sessionId }}', 'assistant', '{{ $json.finalReply }}', NOW());\n\nUPDATE \"User\" SET \"messagesUsedThisCycle\" = \"messagesUsedThisCycle\" + 1 WHERE \"userId\" = '{{ $('Extract Comment Data').item.json.userId }}';",
        "options": {}
      },
      "id": "584c3398-fb20-4945-8ec6-26741a291431",
      "name": "Sync Comment to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -4064,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to look up real-time product information from the product catalog. Call this tool FIRST whenever the customer asks about any product - name, price, color, size, stock availability, material, description, or any product-related inquiry. Translate/map any Bengali or Banglish queries to English product names before searching or matching items from the sheet (e.g. if customer asks 'অলিভ গ্রিন', look for 'Olive Green Casual'). This tool returns live data directly from the seller's product sheet.",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.productSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.productSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -3792,
        48
      ],
      "id": "2d7371fa-ee8c-4e90-9824-1e7bb56dc851",
      "name": "Get Product form Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rD3Ibc32MwD8IUQE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Bot Config": {
      "main": [
        [
          {
            "node": "Customer Input Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply to Messenger": {
      "main": [
        [
          {
            "node": "Sync Next.js Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Brain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Anylize",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Comment Brain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Brain",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Anylize",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Return hub.challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Add sentiment and topic in database": {
      "main": [
        [
          {
            "node": "Send Reply to Messenger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "main": [
        [
          {
            "node": "Detect Order Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Order Action": {
      "main": [
        [
          {
            "node": "Is Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Order?": {
      "main": [
        [
          {
            "node": "Extract Order Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anylize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Data": {
      "main": [
        [
          {
            "node": "Write Order to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Order to Sheet": {
      "main": [
        [
          {
            "node": "Is SteadFast Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is SteadFast Active?": {
      "main": [
        [
          {
            "node": "Create SteadFast Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Pathao Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SteadFast Order": {
      "main": [
        [
          {
            "node": "Send Order Confirmation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pathao Active?": {
      "main": [
        [
          {
            "node": "Get Pathao Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Order Confirmation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pathao Token": {
      "main": [
        [
          {
            "node": "Create Pathao Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pathao Order": {
      "main": [
        [
          {
            "node": "Send Order Confirmation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anylize": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "Add sentiment and topic in database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voicemail": {
      "main": [
        [
          {
            "node": "Text from audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text from audio": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Map image prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Input Types": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Download Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map image prompt": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Facebook Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Event Type": {
      "main": [
        [
          {
            "node": "Fetch Comment Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Bot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comment Config": {
      "main": [
        [
          {
            "node": "Extract Comment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Comment Data": {
      "main": [
        [
          {
            "node": "Is Fixed Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Fixed Reply?": {
      "main": [
        [
          {
            "node": "Set Fixed Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Comment Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fixed Reply": {
      "main": [
        [
          {
            "node": "Merge Comment Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Comment Brain": {
      "main": [
        [
          {
            "node": "Set AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AI Reply": {
      "main": [
        [
          {
            "node": "Merge Comment Replies",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Comment Replies": {
      "main": [
        [
          {
            "node": "Post Comment Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Comment Reply": {
      "main": [
        [
          {
            "node": "Sync Comment to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Brain",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Comment Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product form Sheet": {
      "ai_tool": [
        [
          {
            "node": "Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f65a2ed4-bdbe-47e6-bcc0-f6e8fae696f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "087b209646b6dd079cf9977ee44d15bba80c68ee014d83be255b66d73cfc7dfb"
  },
  "id": "RLQZ59gIKn5lkvAU",
  "tags": []
}