docs/n8n JSON/Web Integration (DriplareAI).json
{
  "name": "Web Integration (DriplareAI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "driplare-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8360f06b-944d-4aa2-a006-2a07c41b4366",
      "name": "Webhook (Web)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3696,
        2384
      ],
      "webhookId": "9ec81dc1-844c-4383-ad59-f2b32bd1e196"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "bc5bdc61-1410-4ef2-95bf-99be640d735c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4496,
        2384
      ]
    },
    {
      "parameters": {
        "model": "={{ $json.model }}",
        "options": {
          "maxTokens": "={{ $json.maxTokens }}",
          "temperature": "={{ $json.temperature }}"
        }
      },
      "id": "7b2313a3-d4ec-4154-b71a-c4586facfea0",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3920,
        2624
      ],
      "credentials": {
        "openRouterApi": {
          "id": "jhNy5RPc2l0zAQry",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 50
      },
      "id": "a9c0f30b-c4fe-4437-959c-b5e33672c2a3",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4176,
        2640
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{ $json.body.sessionId }}' as \"sessionId\",\n  '{{ $json.body.userId }}' as \"userId\",\n  c.\"chatbotId\", \n  c.\"chatbotMode\", \n  c.\"provider\", \n  c.\"model\", \n  c.\"systemPrompt\", \n  c.\"temperature\", \n  c.\"maxTokens\", \n  u.\"includedMessages\", \n  u.\"messagesUsedThisCycle\",\n  ec.\"productSheetUrl\",\n  ec.\"productSheetName\"\nFROM \"Chatbot\" c\nJOIN \"User\" u ON c.\"userId\" = u.\"userId\"\nLEFT JOIN \"EcommerceConfig\" ec ON ec.\"chatbotId\" = c.\"chatbotId\"\nWHERE c.\"chatbotId\" = '{{ $json.body.chatbotId }}';",
        "options": {}
      },
      "id": "7ac5952f-925a-4a02-8ddd-507760d13a5c",
      "name": "Fetch Bot Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3904,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook (Web)').item.json.body.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt + \"\\n\\nLANGUAGE RULES:\\n1. Detect the user's language (English, Bengali, or Banglish/Romanized Bengali).\\n2. ALWAYS reply in the exact same language and script that the user used. If they ask in Bangla, reply in Bangla. If they ask in Banglish, reply in Bangla or natural Banglish.\\n3. You are fully multilingual. NEVER say \\\"I can only speak English\\\" or refuse to assist in Bengali.\\n4. Keep product names (e.g., \\\"Olive Green Casual\\\"), sizes, and Product IDs in their original English/Roman script as written in the sheet, even when replying in Bengali.\\n\\nTONE & FORMATTING RULES:\\n1. Speak in a friendly, natural, helpful, and human-like tone. Avoid sounding rigid or robotic.\\n2. DO NOT greet the customer as \\\"Sir/Madam\\\" or \\\"Dear Customer\\\" in every message. Only greet them in the very first message of the conversation. In subsequent messages, get straight to the point politely.\\n3. Organize information beautifully. Use paragraph spacing, line breaks, bullet points, and appropriate emojis (e.g., 🏷️ for price, 📦 for stock, 🚚 for shipping) to make the text clean, readable, and engaging.\" + ($json.chatbotMode === 'ecommerce' && $json.productSheetUrl ? \"\\n\\nTOOL RULES:\\n1. Product-specific queries (including name, price, stock, size, color, quality, fabric, material, purity, ingredients, authenticity, benefits, description, etc.) - ALWAYS call the 'Get Product form Sheet' tool FIRST. Do not try to guess or answer from your own knowledge.\\n2. General questions (FAQ, company info, delivery policies) - use 'knowledge_base' tool.\\n3. If the user asks about any product attributes, characteristics, or specific details in English, Bangla, or Banglish (e.g. 'quality kemon', 'original naki', 'dam koto', 'size ache?'), translate the context and look up the sheet.\" : ($json.productSheetUrl ? \"\\n\\nTOOL RULES:\\n1. Product-specific queries (name, price, stock) - use 'Get Product form Sheet' tool.\\n2. General questions - use 'knowledge_base' tool.\" : \"\\n\\nTOOL RULES:\\n- Use 'knowledge_base' tool to find relevant info before answering.\")) }}"
        }
      },
      "id": "9cb499bd-89be-4cbc-b81b-7f11d3fe5205",
      "name": "Web Brain",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4128,
        2384
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4496,
        2736
      ],
      "id": "666f1b6e-1342-4a13-ba20-64b74f43d3c6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GSuBFeT3qsXKR0hv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search uploaded source documents for general information, FAQs, and company policies. Do NOT use this for product catalog queries (product name, price, stock, color, size, material) - use 'Get Product form Sheet' tool for those instead.",
        "tableName": "Chunk",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        4496,
        2576
      ],
      "id": "42dab698-9058-47b4-a303-500abbe944f0",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ১. চ্যাট সেশন তৈরি বা আপডেট করা\nINSERT INTO \"ChatSession\" (\"id\", \"chatbotId\", \"sessionId\", \"platform\", \"guestName\", \"isActive\", \"createdAt\", \"updatedAt\")\nVALUES (\n  gen_random_uuid()::text, \n  '{{ $node[\"Webhook (Web)\"].json.body.chatbotId }}', \n  '{{ $node[\"Webhook (Web)\"].json.body.sessionId }}', \n  'web', \n  'Web Test User', \n  true, \n  NOW(), \n  NOW()\n)\nON CONFLICT (\"chatbotId\", \"sessionId\") \nDO UPDATE SET \n  \"updatedAt\" = NOW();\n\n-- ২. ইউজারের মেসেজ সেভ করা\nINSERT INTO \"ChatMessage\" (\"id\", \"chatbotId\", \"userId\", \"sessionId\", \"role\", \"content\", \"timestamp\")\nVALUES (\n  gen_random_uuid()::text, \n  '{{ $node[\"Webhook (Web)\"].json.body.chatbotId }}', \n  '{{ $node[\"Webhook (Web)\"].json.body.userId }}', \n  '{{ $node[\"Webhook (Web)\"].json.body.sessionId }}', \n  'user', \n  '{{ $node[\"Webhook (Web)\"].json.body.chatInput.replace(/'/g, \"''\") }}', \n  NOW() - INTERVAL '1 second'\n);\n\n-- ৩. AI এর উত্তর সেভ করা\nINSERT INTO \"ChatMessage\" (\"id\", \"chatbotId\", \"userId\", \"sessionId\", \"role\", \"content\", \"timestamp\")\nVALUES (\n  gen_random_uuid()::text, \n  '{{ $node[\"Webhook (Web)\"].json.body.chatbotId }}', \n  '{{ $node[\"Webhook (Web)\"].json.body.userId }}', \n  '{{ $node[\"Webhook (Web)\"].json.body.sessionId }}', \n  'assistant', \n  '{{ $node[\"Web Brain\"].json.output.replace(/'/g, \"''\") }}', \n  NOW()\n);\n\n-- ৪. ইউজারের মেসেজ কোটা আপডেট করা (pointsUsed এর বদলে messagesUsedThisCycle)\nUPDATE \"User\" \nSET \"messagesUsedThisCycle\" = \"messagesUsedThisCycle\" + 2 \nWHERE \"userId\" = '{{ $node[\"Webhook (Web)\"].json.body.userId }}';\n",
        "options": {}
      },
      "id": "ec95dd02-1474-4be6-88ff-2af2cbb76b29",
      "name": "Sync Next.js Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4752,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "3Aiu7UNMUMPB6aNu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to look up real-time product information. Call this tool FIRST whenever the customer asks about any product - name, price, color, size, stock availability, material, or description. Translate/map any Bengali or Banglish queries to English product names before searching or matching items from the sheet (e.g. if customer asks 'অলিভ গ্রিন', look for 'Olive Green Casual'). Returns live data from the seller's product sheet.",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.productSheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.productSheetName || 'Products' }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        4352,
        2624
      ],
      "id": "f0c4ac30-f0d9-4378-86d4-a23f153b82f4",
      "name": "Get Product form Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rD3Ibc32MwD8IUQE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Web)": {
      "main": [
        [
          {
            "node": "Fetch Bot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Web Brain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Web Brain",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bot Config": {
      "main": [
        [
          {
            "node": "Web Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Brain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Web Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Sync Next.js Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product form Sheet": {
      "ai_tool": [
        [
          {
            "node": "Web Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2513e64e-b781-4bec-ae45-48a258f6cc03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "087b209646b6dd079cf9977ee44d15bba80c68ee014d83be255b66d73cfc7dfb"
  },
  "id": "358ccdx0P9JSAHoh",
  "tags": []
}